@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
  url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;

  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
  url("../fonts/opensans-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;

  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"), url("../fonts/gilroyextrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;

  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"), url("../fonts/gilroylight-webfont.woff") format("woff");
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  margin: 0;
  padding: 0;

  letter-spacing: 0.01em;

  color: #464646;
}

a {
  text-decoration: none;

  color: rgba(0, 0, 0, 1);
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

.section-title,
.slider-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;

  margin: 0;
}

.slider-item .slider-title {
  line-height: 56px;

  margin-bottom: 28px;
}

.button,
.services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
}

.button:hover,
.services-link:hover {
  color: rgba(0, 0, 0, 1);
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;

  /*outline: 6px solid rgba(255, 100, 0, 0.1);*/
}

.main-header {
  width: 1040px;
  padding: 17px 60px 30px 60px;
  /*outline: 1px dashed blue;*/

  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 15%,#f7e295 15%,#f7e295 15%,#f7e295 15%,#f7e295 100%);
}

.main-header-logo {
  display: block;

  margin-bottom: 18px;
}

.main-header-logo[href]:hover,
.main-footer-logo[href]:hover,
.copyright-link:hover {
  opacity: 0.6;
}

.main-header-logo[href]:active,
.main-footer-logo[href]:active,
.copyright-link:active {
  opacity: 0.3;
}

.search-form {
  width: 500px;
}

.search-form input {
  font: inherit;

  padding-left: 38px;

  border: none;
  background: none;
}

.header-links {
  display: flex;

  margin-bottom: 36px;
}

.header-link {
  margin-left: 40px;
}

.user-menu {
  display: inline-block;

  min-width: 260px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.user-item {
  display: inline-block;

  margin-left: 20px;
}

.main-nav-list {
  /*display: flex;*/
}

.main-nav-item {
  display: inline-block;

  margin-right: 50px;
}

.main-nav-list .submenu {
  position: relative;

  /* outline: 1px solid lime; */
}

.submenu:hover .catalog-list {
  display: block;
}

.catalog-list {
  position: absolute;
  z-index: 10;
  left: -60px;

  display: none;

  box-sizing: border-box;
  width: 1160px;
  height: 160px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-left: 60px;

  list-style: none;
  /*outline: 1px solid cyan;*/

  background-color: #f7e295;

  /*column-count: 3;
  column-width: 200px;
  column-gap: 40px;*/
}

.catalog-item {
  display: inline-block;

  vertical-align: top;

  outline: 1px dashed pink;
}

.sub-catalog-list {
  min-width: 200px;
  margin: 0;
  margin-right: 40px;
  padding: 0;

  list-style: none;
}

.main-nav-link,
.footer-nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-nav-list {
  padding: 0;

  list-style: none;
}

.catalog-link {
  line-height: 36px;

  letter-spacing: 0.01em;
}

.slider {
  margin-bottom: 110px;

  background: linear-gradient(to bottom, #f7e295 0%,#f7e295 24%,#ffffff 24%,#ffffff 24%,#ffffff 100%);

  /*outline: 1px dashed pink;*/
}

.slider-item {
  display: flex;

  padding: 0 60px;

  justify-content: space-between;
}

.slider-img,
.slider-info {
  width: 500px;

  /*outline: 1px dashed lime;*/
}

.slider-info {
  padding-top: 83px;
}

.slider-img img {
  display: block;

  margin: 0 auto;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-table-header {
  font-size: 13px;
  line-height: 20px;
}

.slider-table-cell {
  font-size: 36px;
  line-height: 48px;
}

.popular-categories {
  margin-bottom: 80px;
}

.popular-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: space-between;
}

.popular-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  position: relative;

  display: block;

  width: 160px;
  padding-top: 195px;

  /*outline: 1px dashed lime;*/
}

.popular-link::before {
  position: absolute;
  top: 0;

  display: block;

  width: 160px;
  height: 160px;

  content: "";

  background-color: #f7e295;
}

.services {
  margin-bottom: 94px;
  padding-bottom: 70px;

  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 25%,#e5e5e5 25%,#e5e5e5 100%);

  /*outline: 1px dotted tomato;*/
}

.services-list {
  position: relative;

  box-sizing: border-box;
  width: 284px;
  min-height: 315px;
  margin: 0;
  padding: 0;
  padding-top: 80px;

  list-style: none;

  border-right: 7px solid #000000;

  /*outline: 1px dashed red;*/
}

.services-text {
  position: absolute;
  top: 0;
  left: 400px;

  width: 460px;
  padding-top: 75px;
  padding-right: 300px;

  /*outline: 1px dashed lime;*/
}

.services-link:active,
.services-link.current {
  line-height: 40px;

  min-height: 40px;

  vertical-align: middle;

  color: #f7e184;
  background-color: #000000;
}

.brands {
  margin-bottom: 93px;
}

.brands-list {
  display: flex;

  padding: 0;

  list-style: none;

  justify-content: space-between;
}

.layout {
  display: flex;

  justify-content: space-between;
}

.layout .about,
.layout .contacts {
  box-sizing: border-box;
  width: 560px;
  margin-bottom: 80px;
  padding-top: 45px;


  /*outline: 1px dashed lime;*/
}

.about {
  padding-right: 100px;
}

.main-footer {
  padding-top: 65px;

  color: #ffffff;
  background-color: #464646;
}

.footer-row {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.main-footer-logo {
  margin-right: auto;
}

.footer-link {
  padding: 0;
  padding-left: 40px;

  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu {
  padding: 0;

  list-style: none;
}

.footer-nav {
  display: flex;

  padding: 0;

  list-style: none;
}

.footer-nav-item {
  padding: 0 20px;
}

.footer-nav-link {
  color: rgba(255, 255, 255, 1);
}

.footer-nav-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.dash::before {
  display: block;

  width: 80px;
  height: 7px;

  content: "";

  background-color: #ffc600;
}

.social-list {
  display: flex;
}

.social-item {
  margin: 0 12px;
}

.social-link {
  display: block;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: #7e7e7e;
}

.phone-link {
  color: rgba(255, 255, 255, 1);
}

.phone-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.phone-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-list {
  padding: 0;

  list-style: none;
}

.write-us-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.inner .container {
  position: relative;
}

.tricky-background::before {
  position: absolute;
  z-index: -1;
  right: 830px;

  box-sizing: border-box;
  width: 100vw;
  height: 100%;

  content: "";

  border-top: 70px solid #dadbdb;
  background-color: #efefef;
}

.tricky-background::after {
  position: absolute;
  z-index: -1;
  left: 330px;

  box-sizing: border-box;
  width: 100vw;

  content: "";

  border-top: 70px solid #ebebeb;
}

.inner {
  margin-top: 50px;
  margin-bottom: 4px;
}

.breadcrumbs {
  display: flex;

  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  margin-right: 40px;
}

.breadcrumbs-link {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.sorting {
  font-weight: normal;

  display: flex;

  margin-bottom: 70px;
  padding: 26px 0;

  align-items: center;
}

.filter h3,
.sorting h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;

  margin: 0;
  padding: 0;
  padding-right: 55px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter h3 {
  margin-bottom: 70px;
  padding: 26px 0;
}

.sorting-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-item {
  line-height: 18px;

  padding-right: 32px;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active,
.sorting-link.current {
  color: rgba(0, 0, 0, 1);
}

.catalog-section {
  width: 760px;
  margin-bottom: 75px;

  /*outline: 1px solid pink;*/
}

.catalog-section-list {
  display: flex;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;

  /*outline: 1px dashed lime;*/
}

.product-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  letter-spacing: 0.01em;
}

.product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  letter-spacing: 0.01em;
}

.product-compare-link {
  font-size: 13px;

  color: rgba(0, 0, 0, 0.5);
}

.product-compare-link:hover {
  color: rgba(0, 0, 0, 1);
}

.product-compare-link:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;

  display: flex;

  margin: 0;
  padding: 26px 30px;

  list-style: none;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #ebebeb;
}

.pagination-link {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link:hover {
  color: rgba(0, 0, 0, 1);
}

.pagination-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination .back,
.pagination .current,
.pagination .current:hover,
.pagination .current:active,
.pagination .forth {
  color: rgba(0, 0, 0, 1);
}

.pagination-item {
  margin: 0;
  padding: 0 16px;
}

.pagination .back {
  margin-right: auto;
}

.pagination .forth {
  margin-left: auto;
  padding: 0;
}

.filter {
  font-size: 14px;

  box-sizing: border-box;
  width: 330px;
  padding: 0 60px;

  /*outline: 1px dashed pink;*/
}

.filter-fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

.filter-fieldset legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  letter-spacing: 0.01em;
}

.filter-list {
  padding: 0;

  list-style: none;
}

.hidden {
  display: none;
}
