@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
      url("../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
      url("../fonts/opensans-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"), url("../fonts/gilroyextrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"), url("../fonts/gilroylight-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: #464646;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.page a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.page a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page a:active {
  color: rgba(0, 0, 0, 0.3)
}

.page h1,
.page h2,
.page h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.slider-list-item h3 {
  line-height: 56px;
}

.button,
.services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  border: none;
  background-color: transparent;
}

.button:hover,
.services-link:hover {
  color: rgba(0, 0, 0, 1);
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3)
}

.user-menu {
  padding: 0;
  list-style: none;
}

.main-nav-link,
.footer-nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-nav-list {
  padding: 0;
  list-style: none;
}

.catalog-nav-list {
  padding: 0;
  list-style: none;
}

.catalog-nav-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.slider-list {
  padding: 0;
  list-style: none;
}

.slider-table-header {
  font-size: 13px;
  line-height: 20px;
}

.slider-table-cell {
  font-size: 36px;
  line-height: 48px;
}
.popular-categories-list {
  padding: 0;
  list-style: none;
}

.popular-category-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.services-list {
  padding: 0;
  list-style: none;
}

.services-link:active,
.services-link.current {
  color: #f7e184;
  background-color: #000000;
}

.brands-list {
  padding: 0;
list-style: none;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.page.inner .main-header-logo:hover,
.page.inner .main-footer-logo:hover,
.copyright-link:hover {
  opacity: 0.6;
}

.page.inner .main-header-logo:active,
.page.inner .main-footer-logo:active,
.copyright-link:active {
  opacity: 0.3;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-links a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-links a:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu {
  padding: 0;
  list-style: none;
}

.footer-nav {
  padding: 0;
  list-style: none;
}

.footer-nav-link {
  color: rgba(255, 255, 255, 1);
}

.footer-nav-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone-link  {
  color: rgba(255, 255, 255, 1);
}

.phone-link:hover  {
  color: rgba(255, 255, 255, 0.6);
}
.phone-link:active  {
  color: rgba(255, 255, 255, 0.3);
}

.social-list {
  padding: 0;
  list-style: none;
}

.write-us-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}



.breadcrumbs {
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.sorting {
  font-family: "OpenSans", Arial, sans-serif;
}

.filter h3,
.sorting h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

}

.sorting-list {
  padding: 0;
  list-style: none;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active,
.sorting-link.current {
  color: rgba(0, 0, 0, 1);
}

.catalog-section-list {
  padding: 0;
  list-style: none;
}

.product-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.product-compare-link {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.product-compare-link:hover {
  color: rgba(0, 0, 0, 1);
}

.product-compare-link:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination-link {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link:hover {
  color: rgba(0, 0, 0, 1);
}

.pagination-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.pagination-link.back,
.pagination-link.current,
.pagination-link.current:hover,
.pagination-link.current:active,
.pagination-link.forth {
  color: rgba(0, 0, 0, 1);
}

.filter {
  background-color: #efefef;
  font-size: 14px;
}

.filter-fieldset legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.filter-list {
  padding: 0;
  list-style: none;
}
